<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="rcpmail.Application">
         </run>
      </application>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="rcpmail-99.application"
            name="RCP Mail 2.0">
         <property
               name="aboutText"
               value="%aboutText"/>
         <property
               name="aboutImage"
               value="product_lg.gif"/>
         <property
               name="windowImages"
               value="icons/silk/email.png">
         </property>
         <property
               name="appName"
               value="RCP Mail 2.0">
         </property>
         <property
               name="startupForegroundColor"
               value="808080">
         </property>
         <property
               name="startupMessageRect"
               value="33,220,402,15">
         </property>
         <property
               name="startupProgressRect"
               value="33,242,402,7">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="rcpmail.Perspective"
            id="rcpmail.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            name="Message"
            allowMultiple="true"
            icon="icons/silk/email_edit.png"
            class="rcpmail.MessageView"
            id="rcpmail.view">
      </view>
      <view
            name="Mailboxes"
            allowMultiple="false"
            icon="icons/silk/email_go.png"
            class="rcpmail.Navigator"
            id="rcpmail.navigatorView">
      </view>    
      <view
            class="rcpmail.MessageTableView"
            icon="icons/silk/email_open.png"
            id="rcpmail.MessageTableView"
            name="Messages">
      </view>
      <view
            class="rcpmail.NavigationView"
            icon="icons/silk/server.png"
            id="rcpmail.simplenavigateview"
            name="Navigation"
            restorable="true">
      </view>
      <view
            class="com.sekoy.rcp.RateView"
            id="sekoy.rcp.first"
            name="RateView"
            restorable="true">
      </view>
      <view
            class="de.vogella.rcp.jfreechart.pie.View"
            id="de.vogella.rcp.jfreechart.pie"
            name="Pie"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="fileMenu"
               label="&amp;File">
            <command
                  commandId="rcpmail.openNewWindowCommand"
                  icon="icons/silk/application_form_add.png"
                  label="New &amp;Window"
                  style="push">
            </command>
            <separator
                  name="rcpmail.separator1"
                  visible="true">
            </separator>
            <command
                  commandId="rcpmail.command.createServer"
                  icon="icons/silk/server_add.png"
                  label="New &amp;Server"
                  style="push">
            </command>
            <separator
                  name="rcpmail.separator2"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.file.exit"
                  label="Exit"
                  mnemonic="x"
                  style="push">
            </command>
         </menu>
         <menu
               id="helpMenu"
               label="&amp;Help">
            <command
                  commandId="org.eclipse.ui.help.aboutAction"
                  label="&amp;About RCP Mail"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="rcpmail-db-cnf.toolbar1">
            <command
                  commandId="rcpmail.command.createServer"
                  icon="icons/silk/server_add.png"
                  label="New Server"
                  style="push">
            </command>
            <command
                  commandId="rcpmail.openNewWindowCommand"
                  icon="icons/silk/application_form_add.png"
                  label="New Window"
                  style="push">
            </command>
            <command
                  commandId="rcpmail.syncServer"
                  disabledIcon="icons/silk/arrow_refresh_disabled.png"
                  icon="icons/silk/arrow_refresh.png"
                  label="Synchronize"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.edit.delete"
                  disabledIcon="icons/silk/email_delete_disabled.png"
                  icon="icons/silk/email_delete.png"
                  label="Delete"
                  style="push">
            </command>
            <command
                  commandId="rcpmail.markAsSpamAndMove"
                  disabledIcon="icons/silk/bug_add_disabled.png"
                  icon="icons/silk/bug_add.png"
                  label="Mark As Spam And Move"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:rcpmail.navigatorView">
         <command
               commandId="rcpmail.command.createServer"
               icon="icons/silk/server_add.png"
               label="Create New Server"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="menu:dropdownMenuId">
         <command
               commandId="rcpmail.command.createServer"
               icon="icons/silk/server_add.png"
               label="Open server wizard"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:rcpmail.view">
         <command
               commandId="rcpmail.markAsSpamAndMove"
               disabledIcon="icons/silk/bug_add_disabled.png"
               icon="icons/silk/bug_add.png"
               label="Mark as spam and move to junk"
               style="push">
         </command>
         <command
               commandId="org.eclipse.ui.edit.delete"
               disabledIcon="icons/silk/email_delete_disabled.png"
               icon="icons/silk/email_delete.png"
               label="Delete"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:rcpmail.navigatorView">
         <command
               commandId="rcpmail.openNewWindowCommand"
               icon="icons/silk/application_form_add.png"
               label="Open new window"
               style="push">
         </command>
         <command
               commandId="rcpmail.command.createServer"
               icon="icons/silk/server_add.png"
               label="Create new server"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <command
               commandId="rcpmail.markAsSpamAndMove"
               disabledIcon="icons/silk/bug_add_disabled.png"
               icon="icons/silk/bug_add.png"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="rcpmail.messagesSelected">
               </reference>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.ui.edit.delete"
               disabledIcon="icons/silk/email_delete_disabled.png"
               icon="icons/silk/email_delete.png"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            name="Mail"
            id="rcpmail.category">
      </category>
      <command
            categoryId="rcpmail.category"
            defaultHandler="rcpmail.handlers.CreateServerHandler"
            description="Create New Server"
            id="rcpmail.command.createServer"
            name="New Server">
      </command>
      <command
            categoryId="rcpmail.category"
            description="Synchronize with Server"
            id="rcpmail.syncServer"
            name="Synchronize">
      </command>
      <command
            defaultHandler="rcpmail.handlers.OpenNewWindowHandler"
            id="rcpmail.openNewWindowCommand"
            name="New Window">
      </command>
      <command
            id="rcpmail.markAsSpamAndMove"
            name="Mark as Spam and Move">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <scheme
            id="rcpmail.key.scheme"
            name="RCPMail Key Scheme">
      </scheme>
      <key
            commandId="rcpmail.command.createServer"
            schemeId="rcpmail.key.scheme"
            sequence="CTRL+N">
      </key>
      <key
            commandId="org.eclipse.ui.file.exit"
            schemeId="rcpmail.key.scheme"
            sequence="CTRL+Q">
      </key>
      <key
            commandId="rcpmail.markAsSpamAndMove"
            contextId="rcpmail.context.messages"
            schemeId="rcpmail.key.scheme"
            sequence="J">
      </key>
      <key
            commandId="rcpmail.syncServer"
            schemeId="rcpmail.key.scheme"
            sequence="CTRL+T">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewer
            popupMenuId="rcpmail.navigatorView"
            viewerId="rcpmail.navigatorView">
         <options>
            <property
                  name="org.eclipse.ui.navigator.hideLinkWithEditorAction"
                  value="true">
            </property>
         </options>
      </viewer> 
      <viewerContentBinding
            viewerId="rcpmail.navigatorView">
         <includes>
            <contentExtension
                  pattern="rcpmail.*">
            </contentExtension>
         </includes>
      </viewerContentBinding>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="true"
            contentProvider="rcpmail.MailContentProvider"
            id="rcpmail.mailboxContent"
            labelProvider="rcpmail.NavigatorLabelProvider"
            name="Mailbox Content"
            priority="normal">
         <enablement>
            <or>
               <instanceof
                     value="rcpmail.model.ModelObject">
               </instanceof>
            </or>
         </enablement>
      </navigatorContent>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="rcpmail.handlers.SyncWithServerHandler"
            commandId="rcpmail.syncServer">
         <enabledWhen>
            <with
                  variable="selection">
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <instanceof
                           value="rcpmail.model.Folder">
                     </instanceof>
                  </iterate>
               </and>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="rcpmail.handlers.DeleteMessageHandler"
            commandId="org.eclipse.ui.edit.delete">
         <activeWhen>
            <with
                  variable="activePartId">
               <equals
                     value="rcpmail.MessageTableView">
               </equals>
            </with>
         </activeWhen>
         <enabledWhen>
            <count
                  value="+">
            </count>
         </enabledWhen>
      </handler>
      <handler
            class="rcpmail.handlers.MarkAsSpamAndMoveHandler"
            commandId="rcpmail.markAsSpamAndMove">
         <enabledWhen>
            <reference
                  definitionId="rcpmail.messagesSelected">
            </reference>
         </enabledWhen>
         <activeWhen>
            <with
                  variable="activePartId">
               <equals
                     value="rcpmail.MessageTableView">
               </equals>
            </with>
         </activeWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            description="A context for the Messages View"
            id="rcpmail.context.messages"
            name="Messages View"
            parentId="org.eclipse.ui.contexts.window">
      </context>
   </extension>
   <!-- Some default keybindings that make sense in our application scheme.
        Copied from org.eclipse.ui/plugin.xml -->
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.eclipse.ui.edit.cut"
            contextId="org.eclipse.ui.contexts.dialogAndWindow"
            sequence="M1+X"
            schemeId="rcpmail.key.scheme" />
      <key
            commandId="org.eclipse.ui.edit.copy"
            contextId="org.eclipse.ui.contexts.dialogAndWindow"
            sequence="M1+C"
            schemeId="rcpmail.key.scheme" />
      <key
            commandId="org.eclipse.ui.edit.paste"
            contextId="org.eclipse.ui.contexts.dialogAndWindow"
            sequence="M1+V"
            schemeId="rcpmail.key.scheme" />
      <key
            commandId="org.eclipse.ui.edit.selectAll"
            contextId="org.eclipse.ui.contexts.dialogAndWindow"
            sequence="M1+A"
            schemeId="rcpmail.key.scheme" />
      <key
            commandId="org.eclipse.ui.edit.delete"
            sequence="DEL"
            schemeId="rcpmail.key.scheme" />
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="rcpmail.messagesSelected">
         <with
               variable="selection">
            <iterate
                  ifEmpty="false"
                  operator="and">
               <instanceof
                     value="rcpmail.model.Message">
               </instanceof>
            </iterate>
         </with>
      </definition>
   </extension>

</plugin>
